In [20]:
import pandas as pd
import pickle

In [21]:
df = pd.read_csv("neighborhoods.csv")
df.head()

,neighborhood,neighborhood_ascii,lat,lng,city_name,city_id,state_name,state_id,source,timezone,zips,county_fips,county_name,id
0,Atlanta University Center,Atlanta University Center,33.74947,-84.41125,Atlanta,1840013660,Georgia,GA,polygon,America/New_York,30314,13121,Fulton,184001366011100
1,Hunter Hills,Hunter Hills,33.75872,-84.43123,Atlanta,1840013660,Georgia,GA,polygon,America/New_York,30314,13121,Fulton,184001366011101
2,Bankhead,Bankhead,33.76901,-84.42452,Atlanta,1840013660,Georgia,GA,polygon,America/New_York,30318 30314,13121,Fulton,184001366011102
3,English Avenue,English Avenue,33.77070,-84.41099,Atlanta,1840013660,Georgia,GA,polygon,America/New_York,30318 30314,13121,Fulton,184001366011103
4,Adair Park,Adair Park,33.73117,-84.41083,Atlanta,1840013660,Georgia,GA,polygon,America/New_York,30310,13121,Fulton,184001366011104

In [30]:
# for i in range(len(df)):
#     df.iloc[i]['neighborhood_ascii'] = df.iloc[i]['neighborhood_ascii'].lower()
#     df.iloc[i]['state_id'] = df.iloc[i]['state_id'].lower()
#     df.iloc[i]['city_name'] = df.iloc[i]['city_name'].lower()

df['neighborhood_ascii'] = df['neighborhood_ascii'].str.lower()
df['city_name'] = df['city_name'].str.lower()
df['state_id'] = df['state_id'].str.lower()

In [31]:
neighborhoods = {}
for i in range(len(df)):
    entry = df.iloc[i]
    if entry['state_id'] in neighborhoods.keys():
        if entry['city_name'] in neighborhoods[entry['state_id']].keys():
            neighborhoods[entry['state_id']][entry['city_name']].append(entry['neighborhood_ascii'])
        else:
            neighborhoods[entry['state_id']][entry['city_name']] = [entry['neighborhood_ascii']]
    else:
        neighborhoods[entry['state_id']] = {entry['city_name']: [entry['neighborhood_ascii']]}

In [32]:
neighborhoods.keys()

dict_keys(['ga', 'md', 'ma', 'il', 'tx', 'co', 'mi', 'nv', 'ca', 'fl', 'mn', 'ny', 'pa', 'az', 'or', 'wa', 'mo', 'dc'])

In [33]:
with open("neighborhoods.pkl", "wb") as f:
    pickle.dump(neighborhoods, f)
    f.close()